body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.screen {
    margin-bottom: 30px;
}

h2 {
    color: #007bff;
    margin-bottom: 20px;
}

.item {
    display: flex;
    gap: 20px;
}

.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 150px;
    text-align: center;
    position: relative;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.stock-habis,
.proses-permintaan {
    position: absolute;
    top: 10px;
    left: 10px;
    background: red;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

.proses-permintaan {
    background: blue;
}

textarea {
    width: 100%;
    height: 80px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.jemput-icon{
    text-decoration: none;
    color: black;
}

button:hover {
    background-color: #0056b3;
}
